.sidenote {
  position: absolute;
  text-align: left;
  padding-left: 20px;
  margin-left: 20px;
  margin-bottom: 1.5em;
  border-left: 1px solid $default-color;
  color: $default-color;
  font-style: italic;
  font-size: 0.8em;

  &-header {
    font-weight: bold;
  }

  &-hover {
    color: $highlight-color;
    border-color: $highlight-color;
  }

  p {
    display: inline;
  }

  /* kramdown */
  .reversefootnote {
    display: none;
  }

  /* commonmark */
  .footnote-backref {
    display: none;
  }
}
